a {
  color: black;
  text-decoration: none;
}
body {
  margin: 0;
}

h1 {
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px 0px;
}

.sidebar {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 40px;
}

.content {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.description {
  padding: 0 20px;
}

.selected {
  color: red;
  font-weight: 500;
}
@media (max-width: 500px) {
  .content {
    display: block;
    grid-template-columns: 160px 1fr;
  }
  .sidebar {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
